.header{
    height: 42px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px #c4c4c4;
    margin-bottom: 20px;
}

.logo{
    margin: 0 46px 0 21px;
}
.logo img{
    height: 24px;
}

.nav-list{
    display:flex;
    flex-grow: 1;
}

.nav-list .nav-item-wrap{
    margin-right: 46px;
    font-size: 16px;
    color: #333;
    position: relative;
}

.header-right{
    display: flex;
    align-items: center;
}

.search{
    width: 150px;
    position: relative;
    padding-left: 26px;
}

.search .search-icon{
    background-image: url(../img/search.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    position: absolute;
    left: 0;
    top: 3px;
}

.search input{
    border: none;
    background-color: transparent;
    outline: none;
    width: 130px;
}

.mail{
    background-image: url(../img/mail.jpg);
    display: inline-block;
    width: 27px;
    height: 20px;
    background-size: 27px 20px;
    margin-left: 28px;
    position: relative;
}
.has-new:after{
    position: absolute;
    top:-4px;
    right: -4px;
    content:'';
    background: url(../img/dot.png);
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
    display: inline-block;
}
.setting{
    background-image: url(../img/setting.jpg);
    display: inline-block;
    width: 24px;
    height: 22px;
    background-size: 24px 22px;
    margin-left: 23px;
}

.setting:hover,.mail:hover,.lock:hover{
    cursor: pointer;
}

.avatar-wrap{
    display: flex;
    align-items: center;
    margin-left: 22px;
}
.avatar{
    width:31px;
    height: 31px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img {
    width: 31px;
}
.down-icon{
    background-image: url(../img/down.png) ;
    display: inline-block;
    width:8px;
    height: 4px;
    background-size: 8px 4px;
    margin-left: 5px;
}

.lock{
    background-image: url(../img/lock.jpg) ;
    display: inline-block;
    width: 18px;
    height: 21px;
    background-size: 18px 21px;
    margin-left: 20px;
    margin-right: 30px;
}


.nav-item-wrap:hover .subnav-list-wrap{
    visibility: visible;
}
.subnav-list-wrap{
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 32px;
    left: -10px;
    width: 300px;
    visibility: hidden;
}
.subnav-item-wrap h5 {
    font-weight: bold;
}
.subnav-item-wrap li {
    font-size: 12px;
    line-height: 40px;
}
.subnav-list-wrap:after{
    content: '';
    position: absolute;
    width:0;
    height:0;
    border-width:8px;
    border-style:solid;
    border-color:transparent  transparent #fff;/*透明 透明  灰*/
    top:-15px;
    left: 20px;
}